parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method object\:\:fromArray\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/DBMQ/Crud.php

		-
			message: '#^Variable \$user in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Web/Auth.php
