parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method UnitEnum\:\:tryFrom\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/DBMQ/AbstractDTO.php

		-
			message: '#^Trait Mileena\\DBMQ\\LegacyArrayAccess is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/DBMQ/LegacyArrayAccess.php
